<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Moje ogłoszenia')"></head>
<body>
<header th:replace="fragments::header"></header>

<main  class="td_to_show">
  <table class="table table-hover table-light">
    <thead>
    <tr>
      <td><a>Rodzaj nieruchomości</a></td>
      <td><a>Adres</a></td>
      <td><a>Zobacz</a></td>
      <td><a>Edytuj</a></td>
      <td><a>Usuń</a></td>
    </tr>
    </thead>
    <tbody th:remove="all-but-first" th:each="announcement: ${announcementSet}">
    <tr>
      <td><a th:text="|${announcement.announcementType.description}|"></a></td>
      <td><a th:text="|${announcement.cityName}, ${announcement.street}|"></a></td>
      <td><a href="#" th:href="@{|/announcement/${announcement.id}|}" th:text="|Zobacz|"></a></td>
      <td><a href="#" th:href="@{|/edit-announcement/${announcement.id}|}">Edytuj</a></td>
      <td><a href="#" th:href="@{|/all-user-announcement/delete/${announcement.id}|}">Usuń</a></td>
    </tr>
    <tr>
      <td><a>Rodzaj nieruchomości</a></td>
      <td><a >Adres</a></td>
      <td><a hreg="#">Zobacz</a></td>
      <td><a href="#">Usuń</a></td>
      <td><a href="#">edytuj</a></td>

    </tr>
    </tbody>

  </table>
</main>

<footer th:replace="fragments::footer"></footer>
</body>
</html>