<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>agreements list</title>
</head>
<body>
<table th:remove="all-but-first" th:each="agreement: ${agreements}">
  <tr>
    <td><a th:text="|${agreement.name}|"></a></td>
    <td><a href="#" th:href="@{|/show-agreements/download/${agreement.id}|}">Pobierz</a></td>
    <td><a href="#" th:href="@{|/show-agreements/delete/${agreement.id}|}">Usuń</a></td>
  </tr>
  <tr>
    <td><a>title</a></td>
    <td><a href="#">Pobierz</a></td>
    <td><a href="#">Usuń</a></td>

  </tr>
</table>
</body>
</html>