<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Umowy')"></head>
<body>
<header th:replace="fragments::header"></header>

<main  class="td_to_show">
  <table class="table table-striped">
    <thead>
    <tr>
      <td><a>Nazwa</a></td>
      <td><a>Pobierz umowę</a></td>
      <td><a>Usuń umowę</a></td>
    </tr>
    </thead>
    <tbody th:remove="all-but-first" th:each="agreement: ${agreements}">
        <tr>
          <td><a th:text="|${agreement.name}|"></a></td>
          <td><a href="#" th:href="@{|/show-agreements/download/${agreement.id}|}">Pobierz</a></td>
          <td><a href="#" th:href="@{|/show-agreements/delete/${agreement.id}|}">Usuń</a></td>
        </tr>
        <tr>
          <td><a>title</a></td>
          <td><a href="#">Pobierz</a></td>
          <td><a href="#">Usuń</a></td>
        </tr>
    </tbody>

  </table>
</main>

<footer th:replace="fragments::footer"></footer>
</body>
</html>