<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>all agents</title>
</head>
<body>
<table th:remove="all-but-first" th:each="agent: ${agentList}">
    <tr>
        <td><a th:text="|${agent.firstName}|"></a></td>
        <td><a th:text="|${agent.lastName}|"></a></td>
        <td><a th:text="|${agent.email}|"></a></td>
        <td><a th:text="|${agent.phoneNumber}|"></a></td>
        <td><a href="#" th:href="@{|/agent-List/delete/${agent.email}|}">Usuń</a></td>
    </tr>
    <tr>
        <td><a>first name</a></td>
        <td><a>last name</a></td>
        <td><a>email</a></td>
        <td><a>phone number</a></td>
        <td><a href="#">Usuń</a></td>
    </tr>
</table>
</body>
</html>