<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments::head(title='Zmień Hasło')"></head>
<body>
<header th:replace="fragments::header"></header>

<h2>Zmień hasło</h2>
<br>
<main class="form-layout">
    <form class="row g-3" method="post" th:action="@{/change-password/save}">
        <div class="form-floating mb-3">
            <input type="text" name="newPassword" class="form-control" id="validationCustom02">
            <label for="validationCustom02" class="form-label">Podaj nowe hasło</label>
        </div>
        <button class="btn btn-primary" type="submit">Zapisz</button>
    </form>
</main>

<footer th:replace="fragments::footer"></footer>
</body>
</html>