<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Edytuj Artykuł')"></head>
<body>
<header th:replace="fragments::header"></header>

<h2>Edytuj Profil</h2>
<br>
<main class="form-layout">
    <form class="row g-3" method="post" th:action="@{|/user/update-form/update|}" th:object="${userToEdit}">
        <div class="form-floating mb-3">
            <p>Email:
            <input th:field="*{email}" th:text="*{email}" type="hidden" >
            </p>
        </div>
        <div class="form-floating mb-3">
            <input type="text" th:field="*{firstName}" class="form-control" id="validationCustom02">
            <label for="validationCustom02" class="form-label">Imię</label>
            <div th:errors="*{firstName}" class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="text" th:field="*{lastName}" class="form-control" id="validationCustom03">
            <label for="validationCustom03" class="form-label">Nazwisko</label>
            <div th:errors="*{lastName}" class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="number" th:field="*{phoneNumber}" class="form-control" id="validationCustom04">
            <label for="validationCustom04" class="form-label">Numer telefonu</label>
            <div th:errors="*{phoneNumber}" class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Edytuj</button>
    </form>
</main>

<footer th:replace="fragments::footer"></footer>
</body>
</html>