<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit user form</title>
</head>
<body>
<h1>Edytuj Profil</h1>
<form method="post" th:action="@{|/user/update-form/update|}" th:object="${userToEdit}">
    <table>
        <tr>
            <td>email:</td>
            <td><input th:field="*{email}" th:text="*{email}" type="hidden"></td>
        </tr>
        <tr>
            <td>Imię:</td>
            <td><input th:field="*{firstName}" type="text"></td>
            <td><p th:errors="*{firstName}" class="error">Tutaj jest Błąd 1</p><td>
        </tr>
        <tr>
            <td>Nazwisko: </td>
            <td><input th:field="*{lastName}" type="text"></td>
            <td><p th:errors="*{lastName}" class="error">Tutaj jest Błąd 2</p><td>
        </tr>
        <tr>
            <td>Numer telefonu:</td>
            <td><input th:field="*{phoneNumber}" type="text"></td>
            <td><p th:errors="*{phoneNumber}" class="error">Tutaj jest Błąd 3</p><td>
        </tr>
    </table>
    <button type="submit">Zapisz</button>
</form>
</body>
</html>