<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Edytuj Artykuł')"></head>
<body>
<header th:replace="fragments::header"></header>

<main>
<form method="post" enctype="multipart/form-data" th:action="@{|/edit-form/update|}" th:object="${editArticle}">
  <table>
    <tr>
      <td>Id:</td>
      <td><input th:field="*{id}" th:text="*{id}" type="hidden" ></td>
    </tr>
    <tr>
      <td>Tytuł:</td>
      <td><input th:field="*{title}" type="text"></td>
      <td><p th:errors="*{title}" class="error">Tutaj jest Błąd 1</p><td>
    </tr>
    <tr>
      <td>Opis</td>
      <td><textarea th:field="*{description}" type="text"></textarea></td>
      <td><p th:errors="*{description}" class="error">Tutaj jest Błąd 3</p><td>
    </tr>
    <tr>
      <td>Obraz: </td>
      <td><input th:field="*{picture}" th:text="*{picture}" type="hidden"></td>
      <td><input type="file" name="image"></td>
    </tr>
  </table>
  <button type="submit">Zapisz Artykuł</button>
</form>
</main>

<h2>Edytuj artykuł</h2>
<br>
<section class="form-layout">
    <form class="row g-3" method="post" enctype="multipart/form-data" th:action="@{|/edit-form/update|}" th:object="${editArticle}">
        <div class="form-floating mb-3">
            <p>Id:
                <input th:field="*{id}" th:text="*{id}" type="hidden" >
            </p>
        </div>
        </div>
        <div class="form-floating mb-3">
          <input type="text" th:field="*{title}" class="form-control" id="validationCustom01" required>
          <label for="validationCustom01" class="form-label">Tytuł</label>
          <div th:errors="*{title}" class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
        <div class="form-floating">
          <textarea th:field="*{description}" class="form-control" id="textarea" style="height: 450px" required></textarea>
          <label for="textarea">Opis</label>
        </div>
        <img class="articlePhoto" src="../static/images/" th:src="@{|/images/${editArticle.picture}|}">
        <div class="mb-3">
          <input th:field="*{picture}" th:text="*{picture}" type="hidden">
          <input  class="form-control" type="file" name="image" id="formFile">
        </div>
      <button class="btn btn-primary" type="submit">Zapisz Artykuł</button>
    </form>
</section>

<footer th:replace="fragments::footer"></footer>
</body>
</html>