<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Stwórz Agenta')"></head>
<body>
<header th:replace="fragments::header"></header>

<h2>Dodaj nowego agenta</h2>
<br>
<main class="form-layout">
    <form class="row g-3" method="post" th:action="@{/agent/save}" th:object="${agent}">
        <div class="form-floating mb-3">
            <input type="text" th:field="*{firstName}" class="form-control" id="validationCustom02">
            <label for="validationCustom02" class="form-label">Imię</label>
            <div th:errors="*{firstName}" class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="text" th:field="*{lastName}" class="form-control" id="validationCustom03">
            <label for="validationCustom03" class="form-label">Nazwisko</label>
            <div th:errors="*{lastName}" class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="text" th:field="*{email}" class="form-control" id="validationCustom01">
            <label for="validationCustom01" class="form-label">Email</label>
            <div th:errors="*{email}" class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="text" th:field="*{password}" class="form-control" id="validationCustom04">
            <label for="validationCustom04" class="form-label">Hasło</label>
            <div th:errors="*{password}" class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Stwórz Agenta</button>
    </form>
</main>

<footer th:replace="fragments::footer"></footer>
</body>
</html>