<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Dodaj Artykuł')"></head>
<body>
<header th:replace="fragments::header"></header>


<h2>Dodaj nowy artykuł</h2>
<br>
<main class="form-layout">
    <form class="row g-3" method="post" enctype="multipart/form-data" th:action="@{|/new-form/save|}" th:object="${articleToSave}">
        <div class="form-floating mb-3">
            <input type="text" th:field="*{title}" class="form-control" id="validationCustom01" required>
            <label for="validationCustom01" class="form-label">Tytuł</label>
            <div th:errors="*{title}" class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <div class="form-floating">
            <textarea th:field="*{description}" class="form-control" id="textarea" style="height: 450px" required></textarea>
            <label for="textarea">Opis</label>
            <div th:errors="*{description}" class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Obraz</label>
            <input  class="form-control" type="file" name="image" id="formFile">
        </div>
        <button class="btn btn-primary" type="submit">Zapisz Artykuł</button>
    </form>
</main>

<footer th:replace="fragments::footer"></footer>
</body>
</html>