<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Panel Urzytkownika')"></head>
<body>
<header th:replace="fragments::header"></header>

<main  class="td_to_show">
<table class="table table-light" th:object="${user}">
  <tr>
    <td>Imię: </td>
    <td><a th:text="|${user.firstName}|"></a></td>
  </tr>
  <tr>
    <td>Nazwisko: </td>
    <td><a th:text="|${user.lastName}|"></a></td>
  </tr>
  <tr>
    <td>Numer telefonu: </td>
    <td><a th:text="|${user.phoneNumber}|"></a></td>
  </tr>
  <tr>
    <td>email: </td>
    <td><a th:text="|${user.email}|"></a></td>
  </tr>
</table>
<p><a href="#" th:href="@{|/user/update-form|}">Edytuj informacje</a></p>
</main>
<footer th:replace="fragments::footer"></footer>
</body>
</html>